{% extends "news/base.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for news in page_obj.object_list %}
        <p>{{ news.id }} | {{ news.title }} | {{ news.published_date }}</p>
        <p>------------------------------------------------------------</p>
    {% endfor %}

    {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            
            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
    
{% endblock %}