{% extends "news/base.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block content %}

    {% if messages %}
        <ul class="messages" style="list-style-type: none;">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row mb-2">
        {% for news in page_obj.object_list %}
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">{{ news.category }}</strong>
                  <h3 class="mb-0">{{ news.title }}</h3>
                  <div class="mb-1 text-body-secondary" style="margin-top: 10px">Reporter: {{ news.publisher.first_name }} {{ news.publisher.last_name }}</div>
                  {% if request.user.id == news.publisher.id %}
                    <a href="{% url 'about_news' news.id %}">Continue reading</a>
                    <a href="{% url 'news-update' news.id %}">Update news</a>
                    {% else %}
                    <a href="{% url 'about_news' news.id %}" class="stretched-link" style="margin-bottom: 24px">Continue reading</a>
                    {% endif %}
                    <div class="mb-1 text-body-secondary" style="margin-top: 20px">{{ news.published_date }}</div>
<!--                    <p style="font-size: 13px; margin-top: 20px">{{ news.published_date }}</p>-->
                </div>

                <div class="col-auto d-none d-lg-block">
                    <img src="{{ news.media.url }}" width="330px" height="280px">
                </div>
              </div>
            </div>

       {% endfor %}

    </div>

    {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            
            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
    
{% endblock %}