{% extends "news/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
    <div class="login-container" style="width: 500px; margin: 0 auto;">
        {% if messages %}
            <ul class="messages" style="list-style-type: none;">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="POST" novalidate>
            {% csrf_token %}
            <h2>Login</h2>
            <!-- {% crispy form %} -->
            {{ form|crispy }}
            <input type="submit" value="Login" />
    
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </form>
    </div>

{% endblock %}