{% extends 'news/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="register-container" style="width: 500px; margin: 0 auto;">
	<form method="POST" enctype="multipart/form-data" novalidate>
		{% csrf_token %}

		{% if request.path == '/register/' %}
		<h2>Sign Up</h2>
		{{ form|crispy }}
		<input type="submit" value="Register" />

		{% else %}
		<h2>Update profile</h2>
		{{ form|crispy }}
		<input type="submit" value="Save" />

		{% endif %}
	  
	</form>
</div>

{% endblock content%}